
@{
    ViewData["Title"] = "Confirmacao";
}

<div class="text-center">
    <h1 class="display-4">Cadastro realizado com sucesso!</h1>
</div>

<div class="text-center pt-4">
    <h3>Suas informações: </h3>
    <p><strong>Nome: </strong>@Dados.AgendamentoAtual.nome</p>
    <p><strong>Contato: </strong>@Dados.AgendamentoAtual.contato</p>
    <p><strong>Data: </strong>@Dados.AgendamentoAtual.data</p>
    <p><strong>Animal: </strong>@Dados.AgendamentoAtual.animal</p>
    <p><strong>Necessidade: </strong>@Dados.AgendamentoAtual.necessidade</p>
</div>
